USE [master]
GO
/****** Object:  Database [FieldEdgeDB]    Script Date: 24-07-2023 10:58:03 ******/
CREATE DATABASE [FieldEdgeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FieldEdgeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FieldEdgeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FieldEdgeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FieldEdgeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FieldEdgeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FieldEdgeDB]
GO
USE [FieldEdgeDB]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 24-07-2023 10:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[salutation] [varchar](50) NULL,
	[initials] [varchar](30) NULL,
	[firstname] [varchar](50) NULL,
	[firstname_ascii] [nvarchar](50) NULL,
	[gender] [varchar](10) NULL,
	[firstname_country_rank] [varchar](20) NULL,
	[firstname_country_frequency] [varchar](20) NULL,
	[lastname] [varchar](50) NULL,
	[lastname_ascii] [nvarchar](50) NULL,
	[lastname_country_rank] [varchar](20) NULL,
	[lastname_country_frequency] [varchar](20) NULL,
	[email] [varchar](50) NOT NULL,
	[password] [nvarchar](30) NULL,
	[country_code] [varchar](10) NULL,
	[country_code_alpha] [varchar](20) NULL,
	[country_name] [varchar](50) NULL,
	[primary_language_code] [varchar](20) NULL,
	[primary_language] [nvarchar](30) NULL,
	[balance] [float] NULL,
	[phone_number] [varchar](20) NULL,
	[currency] [nvarchar](20) NULL,
	[is_active] [int] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_CustomerMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
