<div class="container-fluid py-3">
  <h5>Customers
  </h5>
  <p-table dataKey="id" [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">CustomerId</th>
        <th style="width:15%">FirstName</th>
        <th style="width:15%">LastName</th>
        <th style="width:15%">Email</th>
        <th style="width:15%">Phone_Number</th>
        <th style="width:15%">Country_Code</th>
        <th style="width:10%">Gender</th>
        <th style="width:10%">Balance</th>
        <th style="width:5%">Edit</th>
        <th style="width:5%">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customers>
      <tr [pSelectableRow]="customers">
        <td>{{ customers.id }}</td>
        <td>{{ customers.firstname }}</td>
        <td>{{ customers.lastname }}</td>
        <td><a href="mailto:email@example.com">{{customers.email}}</a></td>
        <td>{{ customers.phone_number }}</td>
        <td>{{ customers.country_code }}</td>
        <td>{{ customers.gender }}</td>
        <td>{{ customers.balance| currency }}</td>
        <td><i class="bi bi-pencil" routerLink="/customer/edit/{{customers.id}}"></i></td>
        <td><i class="bi bi-x-lg" (click)="deleteCustomer(customers.id);"></i></td>
      </tr>
    </ng-template>

  </p-table>

</div>

<div class="container-fluid py-3">
  <div class="row my-3">
    <div class="col" style="text-align: right;">
      <button type="button" routerLink="/customer/edit/0" class="btn btn-outline-success">New Customer</button>
    </div>
  </div>
</div>